body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #222;
  color: #fff;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
